:root {
  --base-font-family-serif: 'Libre Baskerville', serif;
  --base-font-family-sans: 'Work Sans', sans-serif;
  --base-font-size: 16px;

  --color-white: #fff;
  --color-blue: #007fff;
  --color-gray-dark: #2c3e50;
  --color-gray-darker: color-mix(in srgb, var(--color-gray-dark), black 12%);
  --color-gray-medium: #8b9baa;
  --color-gray-light: #ecf0f1;

  --color-github: #125686;
  --color-stack-overflow: #fe7a16;

  --screen-lg: 1600px;
  --screen-sm: 770px;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  color: var(--color-gray-dark);
  font-family: var(--base-font-family-sans);
  font-size: var(--base-font-size);
  background-color: var(--color-gray-light);
}

main {
  height: 100vh;
  display: grid;
  grid-template:
    'header section'
    'footer footer' 2em;
  grid-template-columns: 50% 50%;
}

header {
  grid-area: header;
  color: var(--color-white);
  background-image:
    radial-gradient(
      var(--color-gray-dark) 50%,
      var(--color-gray-darker)
    );
  padding: 4em;
  container-type: inline-size;
  position: relative;

  > h1, > div {
    text-shadow:
      0.5rem 0.5rem 0.5rem var(--color-gray-darker),
      0.4rem 0.7rem 0.5rem var(--color-gray-darker);
  }

  h1 {
    font-family: var(--base-font-family-serif);
    font-size: 18cqw;
    font-weight: 400;
    line-height: 1em;
    margin: 0 0 0.1em 0;
    max-width: 50vw;
  }

  .cats {
    position: absolute;
    bottom: 30vh;
    right: 5em;
    display: flex;
    gap: 2em;

    img {
      filter:
        drop-shadow(1px 1px 0px white)
        drop-shadow(-1px 1px 0px white)
        drop-shadow(-1px -1px 0px white)
        drop-shadow(1px -1px 0px white)
        drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5))
        drop-shadow(0 3px 2px rgba(0, 0, 0, 0.5));
    }
  }

  #jinx {
    max-height: 10em;
  }

  #boo {
    max-height: 11em;
  }
}

section {
  grid-area: section;
  padding: 2em 2em 2em 4em;
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  justify-content: space-between;
  container-type: inline-size;

  h2 {
    font-size: 0.8em;
    margin: 0.2em 0;
  }

  .latest, .elsewhere {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  .latest {
    margin-top: 30vh;
  }

  .card {
    grid-template-columns: 2em 1fr 1fr;
    gap: 1em;
  }

  .post b {
    justify-self: right;
  }

  .card, .post {
    --card-color: var(--color-gray-medium);
    --card-color-text: color-mix(in srgb, var(--card-color), black 50%);
    --card-color-light: color-mix(in srgb, var(--card-color), white 50%);
    --card-color-lighter: color-mix(in srgb, var(--card-color), white 96%);
    --card-color-hover: color-mix(in srgb, var(--color-blue), black 50%);
    --card-transition: ease-out 0.1s;

    cursor: pointer;
    display: grid;
    background-color: var(--color-white);
    border: 0.15em solid var(--card-color-light);
    padding: 1em;
    border-radius: 4px;
    align-items: center;
    line-height: 1em;
    text-decoration: none;
    transition: all var(--card-transition);

    &:hover, &:focus {
      --card-color: var(--card-color-hover);
      background-color: var(--card-color-lighter);
    }

    &#gh-card {
      --card-color-hover: var(--color-github);
    }

    &#so-card {
      --card-color-hover: var(--color-stack-overflow);
    }

    svg {
      width: 2em;
      fill: var(--card-color);
      transition: fill var(--card-transition);
    }

    h3 {
      margin: 0;
      font-size: 1em;
      color: var(--card-color-text);
    }

    b {
      color: var(--color-blue);
      font-size: 0.8em;
    }

    .stat {
      justify-self: flex-end;
      font-size: 0.8em;
      color: var(--color-gray-medium);
    }

    p {
      font-family: var(--base-font-family-serif);
      line-height: 1.5em;
      font-size: 0.9em;
      color: var(--card-color-text);
      margin: 0;
      padding: 0.8em 0 0 0.8em;
      border-top: 1px solid var(--color-gray-light)
    }

    i {
      line-height: 1.5rem;
      color: var(--color-gray-medium);
      font-size: 0.8em;
    }
  }
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  font-size: 0.7em;
  background-color: var(--color-white);

  #dino {
    font-size: 2em;
    margin-right: 0.5em;
  }
}

@media only screen and (width < 770px) {
  main {
    grid-template:
      'header'
      'section'
      'footer' 2em;
  }

  header {
    padding: 4em 3em 6em 3em;

    .cats {
      gap: 2vw;
      bottom: 3em;
    }
  }

  section {
    padding: 2em;

    .latest {
      margin-top: 0.5em;
    }
  }

  #jinx, #boo {
    height: 20cqw;
  }
}

@media only screen and (width > 1600px) {
  header, footer {
    padding-left: calc((100vw - var(--screen-lg)) / 2 + 4em);
  }

  section, footer {
    padding-right: calc((100vw - var(--screen-lg)) / 2 + 4em);
  }
}
